*{
    margin: 0;  
    padding: 0;    
    font-family: 'Inter',  sans-serif;
}

body{
    background-color: #F3F5FC;
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 100px;
    height: 50px;
    /*padding-left: 50% ;*/
    padding-top: 20px ;
    padding-left: 40px;
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    /*Lo que le mueve de esquina a esquina o medio todo el main*/
}

.contenedorDeTexto{
    position: absolute;
    left: 200px;
    top: 100px;
    padding-left: 100px;
    width: 577px;
}

.cajaTexto{
    width: 80%;
    height: 100%;
    border: none;
    color:  #0A3871;
    font-family: Inter,sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 32px;
    cursor: pointer;
    background-color: #f4f4fc
}

.cajaTexto::placeholder{
    color:  #0A3871;
}

.alerta{
    position: absolute;
    width:  340px;
    top: 770px;
    left: 250px;
    color: #000000b4;
    display: flex;
}
/*.instruccion{
    width: 100%;
    top: 50%;
}*/


.contenedorBotones{
    position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px ;
}

.btn-encriptador{
    width: 328px;
    height: 67px;
    padding: 24px;
    align-items: flex-start;
    /*gap: 8px;*/
    /*flex-shrink: 0;*/
    border-radius: 24px;
    background-color:  #0A3871;
    color: #d6dde4;
    border: 1px solid #0A3871;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}
/*.btn-encriptador:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #1238e0,
               inset -4px -4px 12px #1238e0;
}

.btn-encriptador:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }*/
  
 
.btn-desencriptador{
    /*display: flex;*/
    width: 328px;
    height: 67px;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color:  #d6dde4;
    color: #0A3871;
    border: 1px solid #0A3871;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}

.seccionN2{
    display: block;
    position: relative;
    width: 400px;
    height: 840px;
    right: 200px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.contenedorMunieco{
    width: 336px;
    height: 304px;
    top: 4550px;
    left: 1032px;

}

.contenedorDeParrafo{
    width: 350px;
    height:  142px;
    top: 409px;
    left: 1032px;
    gap: 16px;
}
.contenedorDeParrafo h3{
    align-self: stretch;
    color: var(--gray-gray-500, #343A40);
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    padding-top: 50px;
}

.contenedorDeParrafo p{
    align-self: stretch;
    color: var(--gray-gray-400, #495057);
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    padding-top: 30px;
}

.contenedorCopiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}

.btn-copiar{
    position: relative;
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    background-color:  #ffffff;
    color: #0A3871;
    border: 1px solid #0A3871;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    top: -50px;
}

.contenedorResultado p{
    font-size: 25px;
    color: #495057;
}