*{
    margin: 0;  
    padding: 0;    
    font-family: 'Inter',  sans-serif;
}

body{
    background-color: #F3F5FC;
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 100px;
    height: 50px;
    /*padding-left: 50% ;*/
    padding-top: 20px ;
    padding-left: 40px;
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    /*Lo que le mueve de esquina a esquina o medio todo el main*/
}

.contenedorDeTexto{
    position: absolute;
    left: 200px;
    top: 90px;
    padding-left: 100px;
    width: 900px;
    height: 350px;  
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.cajaTexto{
    width: 80%;
    height: 100%;
    border: none;
    color:  #0A3871;
    font-family: Inter,sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 32px;
    cursor: pointer;
    background-color: #f4f4fc
    
}

.cajaTexto::placeholder{
    color:  #0A3871;
}

.alerta{
    position: absolute;
    top: 720px;
    left: 300px;
    display: flex;
    color: #495057;
}
/*.instruccion{
    width: 100%;
    top: 50%;
}*/


.contenedorBotones{
    position: absolute;
    top: 740px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px ;
}

.btn-encriptador{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
}
/*.btn-encriptador:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #1238e0,
               inset -4px -4px 12px #1238e0;
}

.btn-encriptador:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }*/
  
 
.btn-desencriptador{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.seccionN2{
    display: block;
    position: relative;
    width: 400px;
    height: 840px;
    right: 200px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.contenedorMuneco{
    position: absolute;
    left: 30px;
    top: 150px;
    box-sizing: border-box;
    padding-top: 50px;

}

.contenedorDeParrafo{
    position: absolute;
    box-sizing: border-box;
    top: 525px;
    left: 76px;
}
.contenedorDeParrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

.contenedorDeParrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}
.contenedorResultado{
    position: absolute;
    bottom: 330px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}
.contenedorResultado p{
    font-size: 25px;
    color: #495057;
}

.contenedorCopiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}

.btn-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}

.ocultar{
    display: none;
}